{
	"useTabs": true,
	"singleQuote": false,
	"trailingComma": "none",
	"semi": false,
	"formatOnSave": true,
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"editor.codeActionsOnSave": {
		"source.fixAll": true,
		"source.fixAll.eslint": "explicit",
		"source.organizeImports": "explicit"
	},
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	]
}
